@model IEnumerable<ServicioMilitarMVC.Models.SOLDADO>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAMPANIA.actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUARTEL.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUERPO.denominacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAMPANIA.actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUARTEL.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUERPO.denominacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codigoSoldado }) |
            @Html.ActionLink("Details", "Details", new { id=item.codigoSoldado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codigoSoldado })
        </td>
    </tr>
}

</table>
